{% extends 'layout.twig' %}
{% block body %}

    <h1 style = "margin-top: 30px;">Categories</h1>

    <button type="button" class="btn btn-primary" style="margin-top: 30px; margin-bottom: 30px">Add category</button>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Category number</th>
            <th scope="col">Category name</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                {% for key in category %}
                    <td>{{ key }} </td>
                {% endfor %}
               <td><button type="button" class="btn btn-outline-success btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}